body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 46px;
    margin: auto;
}
h2{
    font-size: 33px;
    margin: auto;
}
h3{
    font-size: 28px;
    margin: auto;
}
.global-button {
    font-size: 18px;
    padding: 15px 30px ;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: rgb(248, 128, 148);
}
.heading-text {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.heading-text p {
    width: 70%;
    margin: auto;
    padding: 20px 0;
    line-height: 24px;
}
.flex-box {
    display: flex;
    margin: 30px 0;
}
.hero-section {
    background-image: url(image/Untitled-2-01.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-section-text {
    width: 50%;
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero-section-text p{
    padding: 20px 0;
}

.donate-section {
    width: 70%;
    margin: auto;
    text-align: center;
}
.donate-amount-box .donate-item {
    width: 16%;
    padding: 30px 0;
    border-radius: 10px;
    align-items: center;
    align-items: stretch;
    background: rgba(193, 192, 192, 0.275);
}

.donate-amount-box .item-active {
    color: rgb(248, 121, 142);
    border: 4px solid rgb(248, 121, 142);
    background-color: rgba(250, 219, 225, 0.614);
}
.type-donate-amount .donate-form {
    border:none;
    padding: 10px;
    width: 80%;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    border-bottom: 1px solid gray;
}
.plan-item-cart {
    width: 85%;
    padding-top: 60px;
    margin: auto;
}

.plan-item-cart .plan-cart {
    margin: auto;
    width: 28%;
    padding: 40px 15px;
    border-radius: 10px;
}

.plan-item-cart .food {
    background-color: rgba(203, 231, 252, 0.665);
}

.plan-item-cart .shelter {
    background-color: rgba(247, 211, 217, 0.738);
}

.plan-item-cart .education {
    background-color: oldlace;
}

.total-service {
    width: 70%;
    padding: 45px 80px;
    border-radius: 10px;
    margin: 60px auto auto auto;
    box-shadow: 0 2px 20px 0 pink;
}

.total-service-item {
    width: 30%;
    margin: auto;
    text-align: center;
}

.total-service-item h2 {
    font-size: 36px;
    text-align: center;
}

.total-service-item p {
    line-height: 0;
}

.subscribe-box {
    width: 50%;
    margin: auto;
    padding: 90px 80px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(246, 208, 127, 0.316);
}
.subscribe-box .email{
    width: 70%;
    border: none;
    padding: 18px 10px;
    margin-right: -5px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(215, 212, 212, 0.938);
}
.subscribe-box .global-button {
    border-radius: 0 10px 10px 0;
}
footer {
    color: white;
    line-height: 20px;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
}
footer h2 {
    color: rgb(251, 138, 157);
    font-family: 'Dancing Script', cursive;
}
footer p {
    padding-bottom: 20px;
}

footer .copy-right-text {
    text-align: center;
    padding-top: 10px;
    color: rgb(224, 222, 222);
    padding-bottom: -40px;
    margin: auto;
    border-top: 1px solid rgb(224, 222, 222);
    width: 80%;
}